body {
   //background-image: url(images/scenery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    font-size: 3.0em;
}

h3 {
    text-align: center;
}

footer {
    font-size: .75em;
    text-align: center;
}

p {
    text-align: center;
}

#background-image {
    opacity: .2;
}
div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    background-color: aliceblue;
    width: 800px;
    height: 80%;
    
}